<footer class="site-footer">
  <medium>
    Connect with me on <a href="https://x.com/bbetterengineer" target="_blank">X</a>, <a href="https://github.com/ayush-garg341" target="_blank">GitHub</a> or
    <a href="https://www.linkedin.com/in/ayush-garg-5bb04114b/" target="_blank">Linkedin</a>.
  </medum>
</footer>